
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our story</h2>
<h3>
    They would often provide advice and guidance only to see their friends give up for a variety of reasons.
</h3>
<p>
    Sometimes it’d be because they didn’t see progress quickly enough. Other times it’d be because they didn’t have others to work out with them. And many times it’d be because working out was just... well, work.
</p>
<p>
    So in August 2010, Richard got the idea: what if fitness could be turned into a game? After all, both he and Brian understood how addictive it could be trying to get to that next level, beating that next boss, and completing that next quest (not that they spent their childhoods doing that or anything...) They also realized that the addiction games create was the exact same addiction that drives their fitness efforts every day.
</p>
<p>
    And so Fitocracy was born. Fitocracy’s mission is to make fitness a more fun, more addictive experience. Play Fitocracy to beat challenges, push your boundaries, and show your friends who’s boss. Get addicted to your fitness.
</p>

<h2>The Team</h2>
<ul>
    <li>
        <h3 style="color:#1da6da;">Brian Wang</h3>
        <small>Cofounder | CEO</small>
        <p>
            Brian became interested in fitness when he realized that all the video game playing he had been doing in high school turned him into a skinny nerd who didn’t get outside very much. So he swapped (most of) his addiction for video games with an addiction for weight lifting. Prior to Fitocracy, he graduated from the University of Pennsylvania and spent two years working in management consulting. In his spare time he likes to rock out at metal shows and play some sweet licks on the guitar. He's only gold league in SC2 and that makes him sad.
        </p>      
    </li>
    <li>
        <h3 style="color:#1da6da;">Vinicio Dy</h3>
        <small>Chief Technology Officer</small>
        <p>
            Vini Dy leads the development of Fitocracy's applications on the web, iOS, and Android. Prior to Fitocracy, he was the Director of Technology at The Wonderfactory. He previously held developer roles at MySpace, FoxSports, and Activision.
        </p>       
    </li>
    <li>
        <h3 style="color:#1da6da;">Julius Parishy</h3>
        <small>iOS Engineer</small>
        <p>
            Julius uses his great iOS skillset to quickly iterate the Fitocracy for iPhone application. He also uses his impressive physical strength (unknown to him until he started weight lifting after joining the team) to lift more weight in the gym compared to his fellow co-workers whom been practicing for much, much longer. This annoys them. His cat, Charlie, is quickly on his way to becoming an Instagram sensation.
        </p>     
    </li>
    <li>
        <h3 style="color:#1da6da;">Jen Yoder</h3>
        <small>Community Manager</small>
        <p>
            Jen is a squat junkie and cat enthusiast. She loves her work moderating and interacting with the Fitocracy community.
        </p>      
    </li>
</ul>
