<h2>Levels</h2>
<br />
<div style="width:500px;" class="center">

        <table id="tablaLevelsIzq" class="table table-striped center" style="text-align:center;width:100%">
            <tr>
                <th style="text-align:center; width:150px;">
                    Level
                </th>
                <th style="text-align:center; width:150px">
                    Points
                </th>
            </tr>
            @{
                var listadoLevels = (List<FITOCRACY.Models.Levels>)ViewData["listadoLevels"];

                for (int i = 0; i < listadoLevels.Count(); i++)
                {
                    <tr>
                        <td>
                            <p style="color:#1F2B32; font-size:medium;">@listadoLevels[i].Level</p>
                        </td>
                        <td>
                            <p style="font-size:medium;">@listadoLevels[i].Points</p>
                        </td>
                    </tr>
                }
            }
        </table>

</div>