
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutZonaUsu.cshtml";
}

<div class="center" style="position:relative; background:url(../../Content/Imagenes/portadaZonaUsu.jpg); width:1040px; height:600px; background-repeat:no-repeat">
    <div id="textoImg" style="position:relative;">
        <h1 style="text-align:center; color:#1e2b32; float:left">The best version of yourself</h1>
    </div>
</div>
<img src="~/Content/Imagenes/portadaServicios.PNG" class="center" />
<hr />

